<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img width="auto" height="70em" src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png" alt="Argentina programa Logo">
        </a>
        <div class="d-inline-flex">
            <ul class="container">
                <li class="d-inline-flex mt-3">
                    <a class="d-inline-flex text-white text-decoration-none m-2" href="https://www.linkedin.com/in/esteban-olea-58b6151bb/">
                       <i class="fa-brands fa-linkedin fa-2x"></i> 
                    </a>                    
                </li>
                <li class="d-inline-flex mt-3">
                    <a class="d-inline-flex text-white text-decoration-none m-2" href="https://github.com/estebanOlea2552">
                       <i class="fa-brands fa-github fa-2x"></i> 
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</nav>
